# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment variable files
.env
.env.test

# Node-wrapped environment variables
.env.*

# Testing output
coverage/
*.lcov

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt/
dist/

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# Temporary files
tmp/
temp/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Secret files
secrets/
*.key
